@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Chillax', sans-serif;
    background-image: url(./assets/blue-bg.jpg);
}

button {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -tap-highlight-color: transparent;
}